<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--    &lt;!&ndash;     callbackinterfaces&ndash;&gt;-->
       <!-- <bean id="bookBean" class="guru.springframework.springbeanlifecycle.callbackinterfaces.domain.Book">
            <property name="bookName" value="Believe in Yourself"/>
        </bean>-->

    <!--    awareinterfaces-->
     <!-- <bean id="awareBean" class="guru.springframework.springbeanlifecycle.awareinterfaces.domain.AwareBeanImpl">
      </bean>-->

    <!--    Declare custom init and destroy methods-->
  <!--   <bean id="customLifeCycleBookBean"
           class="guru.springframework.springbeanlifecycle.custominitanddestroy.domain.BookCustomBean"
           init-method="customInit"
           destroy-method="customDestroy">
         <property name="bookName" value="Life and Laughing"></property>
     </bean>-->

    <!--    beanpostprocessor-->
    <bean id="bookBeanPost" class="guru.springframework.springbeanlifecycle.beanpostprocessor.domain.BookBean">
        <property name="bookName" value="Gone with the Wind"></property>
    </bean>
    <bean id="bookBeanPostProcessor"
          class="guru.springframework.springbeanlifecycle.beanpostprocessor.domain.BookBeanPostProcessor"/>
</beans>