<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="BaseBook" class="guru.springframework.xmlbasedbeandefinitioninheritance.domain.Book" abstract="true">
        <property name="bookName" value="Start Where You Are" />
    </bean>

    <bean id="BookBean" parent="BaseBook">
        <property name="bookAuthor" value="Meera Lee Patel" />
        <property name="bookPrice" value="40.00" />
    </bean>

</beans>