<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="department" class="guru.springframework.autowiringdemo.Department">
        <property name="deptName" value="Information Technology" />
    </bean>
    <bean id="employeeByName" class="guru.springframework.autowiringdemo.Employee" autowire="byName"></bean>
    <bean id="employeeByType" class="guru.springframework.autowiringdemo.Employee" autowire="byType"></bean>
    <bean id="employeeConstructor" class="guru.springframework.autowiringdemo.Employee" autowire="constructor"></bean>

</beans>